Repository archlinux/archlinux-keyring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, keyring_check

lint:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make flake8 mypy python-black python-isort
  script:
  - make lint

test:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make python sequoia-sq python-coverage python-pytest python-tomli
  script:
  - make test
  coverage: /TOTAL.*\s([.\d]+)%/
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

keyring_check:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make python sequoia-sq git
  script:
  - ./keyringctl check
  - ./keyringctl ci

Add signature from diabonas for juergen
  keyring/packager/juergen/209A36D43CE2E87DA861FC58539DFD48135182EF/uid/Jurgen_Hotzel__Arch_Linux_Developer_Key___juergen@archlinux.org_ab80fc95/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from diabonas for spupykin
  keyring/packager/spupykin/89E7B9331C4AE7D7FAF7D305C132293954BBE4AD/uid/Sergej_Pupykin__spupykin@archlinux.org_8d5e3405/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

add signature from anthraxx for jsteel
  keyring/packager/jsteel/8742F7535E7B394A1B048163332C9C40F40D2072/uid/Jonathan_Steel__jsteel@archlinux.org_f62ee297/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

Add signature from diabonas for raster
  keyring/packager/raster/04F7A0E31E08D3E08D39AFEBD147F94364295E8C/uid/Carsten_Haitzler__raster@archlinux.org_02b5c9a5/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

add signature from anthraxx for svenstaro
  keyring/packager/svenstaro/8FC15A064950A99DD1BD14DD39E4B877E62EB915/uid/Sven-Hendrik_Haase__svenstaro@archlinux.org_8871a8fb/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

feature(keyringctl): support query expressions for packet field selection
  libkeyringctl/keyring.py
  libkeyringctl/sequoia.py
  libkeyringctl/verify.py
  tests/test_sequoia.py
Due: lint, test, keyring_check

Update arojas key
  keyring/packager/arojas/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25/subkey/1519D5ABA65BF6FC2B73C7567A4E76095D8A52E4/certification/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25.asc
  keyring/packager/arojas/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25/subkey/6690F1F405FD903D9BD898BB8A209A614C6E5289/certification/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25.asc
  keyring/packager/arojas/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25/uid/Antonio_Rojas__arojas@archlinux.org_0857f6fd/certification/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25.asc
  keyring/packager/arojas/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25/uid/Antonio_Rojas__arojas@us.es_9d174109/certification/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25.asc
  keyring/packager/arojas/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25/uid/Antonio_Rojas__nqn1976@gmail.com_99215b86/certification/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25.asc
  keyring/packager/arojas/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25/uid/Antonio_Rojas__nqn76sw@gmail.com_4e2f51bf/certification/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25.asc
Due: keyring_check

Add signature from diabonas for arojas
  keyring/packager/arojas/9D74DF6F91B7BDABD5815CA84AC5588F941C2A25/uid/Antonio_Rojas__arojas@archlinux.org_0857f6fd/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

update shibumi's key
  keyring/packager/shibumi/6DAF7B808F9DF25139620000D21461E3DFE2060D/subkey/48C2314AD8A926A771F17C8E5EBD9B67E15198FA/certification/6DAF7B808F9DF25139620000D21461E3DFE2060D.asc
  keyring/packager/shibumi/6DAF7B808F9DF25139620000D21461E3DFE2060D/subkey/AA2D1330EB5C32D3B9E96D3EA486723CB4F399BC/certification/6DAF7B808F9DF25139620000D21461E3DFE2060D.asc
  keyring/packager/shibumi/6DAF7B808F9DF25139620000D21461E3DFE2060D/uid/Christian_Rebischke__Arch_Linux_Security_Team-Member___Chris.Rebischke@archlinux.org_7d9474e2/certification/684148BB25B49E986A4944C55184252D824B18E8.asc
Due: keyring_check

Update self-signatures of remy's packager key from SHA-1 to SHA-2
  keyring/packager/remy/44EA62ACDBC81B6A0D1FD267206CBC892D1493D2/subkey/0D0C1DC62606E34A9AAAD4E885829D752DCC038A/certification/44EA62ACDBC81B6A0D1FD267206CBC892D1493D2.asc
  keyring/packager/remy/44EA62ACDBC81B6A0D1FD267206CBC892D1493D2/uid/Remy_Oudompheng__oudomphe@phare.normalesup.org_a8a14bb6/certification/44EA62ACDBC81B6A0D1FD267206CBC892D1493D2.asc
  keyring/packager/remy/44EA62ACDBC81B6A0D1FD267206CBC892D1493D2/uid/Remy_Oudompheng__remy@archlinux.org_05dc492d/certification/44EA62ACDBC81B6A0D1FD267206CBC892D1493D2.asc
Due: keyring_check

Add signature from diabonas for escondida
  keyring/packager/escondida/DB5B4A9546601F945389C66940AC6F48D55AB11D/uid/Ivy_Foster__iff@archlinux.org_fdc25edd/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from diabonas for morganamilo
  keyring/packager/morganamilo/F850562FCDA369F80D33000AE48D0A8326DE47C5/uid/Morgan_Adamiec__morganamilo@archlinux.org_32450ac0/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from diabonas for shibumi
  keyring/packager/shibumi/6DAF7B808F9DF25139620000D21461E3DFE2060D/uid/Christian_Rebischke__Arch_Linux_Security_Team-Member___Chris.Rebischke@archlinux.org_7d9474e2/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from diabonas for remy
  keyring/packager/remy/44EA62ACDBC81B6A0D1FD267206CBC892D1493D2/uid/Remy_Oudompheng__remy@archlinux.org_05dc492d/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from Bluewind for muflone
  keyring/packager/muflone/42DFAFB7C03B2E4E7BBDBA69930B82BFC2BDA011/uid/Fabio_Castelli__Muflone___Arch_Linux___muflone@archlinux.org_3db85507/certification/91FFE0700E80619CEB73235CA88E23E377514E00.asc
Due: keyring_check

Add signature from diabonas for alucryd
  keyring/packager/alucryd/95220BE99CE6FF778AE0DC670F65C7D881506130/uid/Maxime_Gauduin__alucryd@archlinux.org_2606bf1f/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Update self-signatures of bluewind's packager key from SHA-1 to SHA-2
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/subkey/DAED14A942777DB7F94B455789B75E070965A73B/certification/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@jabber.ccc.de_0a5fcff7/certification/27FFC4769E19F096D41D9265A04F9397CDFD6BB0.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@jabber.ccc.de_0a5fcff7/certification/44D4A033AC140143927397D47EFD567D4C7EA887.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@jabber.ccc.de_0a5fcff7/certification/684148BB25B49E986A4944C55184252D824B18E8.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@jabber.ccc.de_0a5fcff7/certification/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@jabber.ccc.de_0a5fcff7/revocation/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@xinu.at_a74ee63d/certification/27FFC4769E19F096D41D9265A04F9397CDFD6BB0.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@xinu.at_a74ee63d/certification/44D4A033AC140143927397D47EFD567D4C7EA887.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@xinu.at_a74ee63d/certification/684148BB25B49E986A4944C55184252D824B18E8.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@xinu.at_a74ee63d/certification/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__flo@xinu.at_92157a1b/certification/27FFC4769E19F096D41D9265A04F9397CDFD6BB0.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__flo@xinu.at_92157a1b/certification/44D4A033AC140143927397D47EFD567D4C7EA887.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__flo@xinu.at_92157a1b/certification/684148BB25B49E986A4944C55184252D824B18E8.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__flo@xinu.at_92157a1b/certification/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E.asc
Due: keyring_check

Add signature from diabonas for bluewind
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@archlinux.org_02e4c8b2/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

This is the signature for svenstaro from grazzolini master key.
  keyring/packager/svenstaro/8FC15A064950A99DD1BD14DD39E4B877E62EB915/subkey/327CFF10608E28E227C70FA906CE87D3992984B5/327CFF10608E28E227C70FA906CE87D3992984B5.asc
  keyring/packager/svenstaro/8FC15A064950A99DD1BD14DD39E4B877E62EB915/subkey/327CFF10608E28E227C70FA906CE87D3992984B5/certification/8FC15A064950A99DD1BD14DD39E4B877E62EB915.asc
  keyring/packager/svenstaro/8FC15A064950A99DD1BD14DD39E4B877E62EB915/uid/Sven-Hendrik_Haase__svenstaro@archlinux.org_8871a8fb/certification/159F3A43AEB246C5746C033814BC4F30B3B92EBA.asc
Due: keyring_check

Upgrade signatures for lfleischer to SHA-2
  keyring/packager/lfleischer/2E36D8620221482FC45CB7F2A91764759326B440/subkey/6CC4A2C007950E1A363BBD474951F605EC9A8E15/certification/2E36D8620221482FC45CB7F2A91764759326B440.asc
  keyring/packager/lfleischer/2E36D8620221482FC45CB7F2A91764759326B440/uid/Lukas_Fleischer__Arch_Linux___lfleischer@archlinux.org_876710fa/certification/2E36D8620221482FC45CB7F2A91764759326B440.asc
  keyring/packager/lfleischer/2E36D8620221482FC45CB7F2A91764759326B440/uid/Lukas_Fleischer__calcurse___lfleischer@calcurse.org_033dd957/certification/2E36D8620221482FC45CB7F2A91764759326B440.asc
  keyring/packager/lfleischer/2E36D8620221482FC45CB7F2A91764759326B440/uid/Lukas_Fleischer__lfleischer@lfos.de_ca3f1ff4/certification/2E36D8620221482FC45CB7F2A91764759326B440.asc
Due: keyring_check

Add signature from diabonas for kpcyrd
  keyring/packager/kpcyrd/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6/uid/kpcyrd__kpcyrd@archlinux.org_05f09dd3/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from diabonas for lfleischer
  keyring/packager/lfleischer/2E36D8620221482FC45CB7F2A91764759326B440/uid/Lukas_Fleischer__Arch_Linux___lfleischer@archlinux.org_876710fa/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Use spaces instead of tabs in files
  .editorconfig
Due: none

Script to refresh existing keys of archlinux-keyring
  wkd_sync/archlinux-keyring-wkd-sync
Due: none

Add hardened systemd service to run WKD sync
  wkd_sync/archlinux-keyring-wkd-sync.service
Due: none

Add timer to regularly refresh PGP keys
  wkd_sync/archlinux-keyring-wkd-sync.timer
Due: none

Add pkgconf and systemd before building/ installing
  .gitlab-ci.yml
Due: lint, test, keyring_check

Install WKD update script/service/timer with Makefile
  Makefile
Due: lint, test, keyring_check

Add additional build dependencies pkgconf and systemd
  README.md
Due: none

Extend contributing guidelines for WKD
  CONTRIBUTING.md
Due: none

Revoke signature on muflone's key
  keyring/packager/muflone/CAA1D2323A05219AA2F01AA4E642299183ED727E/uid/Fabio_Castelli__Muflone___Arch_Linux___muflone@archlinux.org_3db85507/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
  keyring/packager/muflone/CAA1D2323A05219AA2F01AA4E642299183ED727E/uid/Fabio_Castelli__Muflone___Arch_Linux___muflone@archlinux.org_3db85507/revocation/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Replace SHA-1 usage for jelle
  keyring/packager/jelle/E499C79F53C96A54E572FEE1C06086337C50773E/subkey/01BEAB2216C10377549CE7487252BA6DA83E99A3/certification/E499C79F53C96A54E572FEE1C06086337C50773E.asc
  keyring/packager/jelle/E499C79F53C96A54E572FEE1C06086337C50773E/uid/Jelle_van_der_Waa__jelle@archlinux.org_b484b992/certification/E499C79F53C96A54E572FEE1C06086337C50773E.asc
  keyring/packager/jelle/E499C79F53C96A54E572FEE1C06086337C50773E/uid/Jelle_van_der_Waa__jelle@vdwaa.nl_539aaed8/certification/E499C79F53C96A54E572FEE1C06086337C50773E.asc
Due: keyring_check

Fix the permission of keyring files
  Makefile
Due: lint, test, keyring_check

Path conditions:
  lint: any of: keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
  test: any of: keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
  keyring_check: any of: keyring/**/*, keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
