Repository archlinux/archlinux-keyring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, keyring_check

lint:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make flake8 mypy python-black python-isort
  script:
  - make lint

test:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make python sequoia-sq python-coverage python-pytest python-tomli
  script:
  - make test
  coverage: /TOTAL.*\s([.\d]+)%/
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

keyring_check:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make python sequoia-sq git
  script:
  - ./keyringctl check
  - ./keyringctl ci

Add signature from dvzrv for antiz
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/uid/Robin_Candau__antiz@archlinux.org_527d4d74/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Add signature from Bluewind for antiz
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/uid/Robin_Candau__antiz@archlinux.org_527d4d74/certification/91FFE0700E80619CEB73235CA88E23E377514E00.asc
Due: keyring_check

Add signature from anthraxx for antiz
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/uid/Robin_Candau__antiz@archlinux.org_527d4d74/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

Add Antiz packager key
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748.asc
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/subkey/748F6C9B972F75B3DEE2816EBDD677ED04E3CE48/748F6C9B972F75B3DEE2816EBDD677ED04E3CE48.asc
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/subkey/748F6C9B972F75B3DEE2816EBDD677ED04E3CE48/certification/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748.asc
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/uid/Robin_Candau__antiz@archlinux.org_527d4d74/Robin_Candau__antiz@archlinux.org_527d4d74.asc
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/uid/Robin_Candau__antiz@archlinux.org_527d4d74/certification/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748.asc
Due: keyring_check

Add signature from demize for antiz
  keyring/packager/antiz/262A58EC6C51F7EA395B2E2DFDC3040B92ACA748/uid/Robin_Candau__antiz@archlinux.org_527d4d74/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Fix formatting in tests
  tests/conftest.py
  tests/test_keyring.py
Due: lint, test, keyring_check

wkd_sync: Ignore keys with SHA-1 self-signature
  wkd_sync/archlinux-keyring-wkd-sync
Due: none

Replace keyserver upload requirement with keys.openpgp.org
  .gitlab/issue_templates/New Main Key.md
  .gitlab/issue_templates/New Packager Key.md
Due: none

Add signature from demize for lfleischer
  keyring/packager/lfleischer/2E36D8620221482FC45CB7F2A91764759326B440/uid/Lukas_Fleischer__Arch_Linux___lfleischer@archlinux.org_876710fa/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add signature from demize for alerque
  keyring/packager/alerque/CCB34EBBB9541EF3F7B366C1D4A753468A5A5B67/uid/Caleb_Maclennan__alerque@archlinux.org_2cc951f2/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add signature from demize for bastelfreak
  keyring/packager/bastelfreak/FE5AFA6D5DE0070ADFA21BC5E074B83653CBB7BA/uid/Tim_Meusel__bastelfreak@archlinux.org_18894cc1/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add signature from demize for orhun
  keyring/packager/orhun/165E0FF7C48C226E1EC363A7F83424824B3E4B90/uid/Orhun_Parmaksiz__orhun@archlinux.org_dedde110/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add signature from demize for raster
  keyring/packager/raster/04F7A0E31E08D3E08D39AFEBD147F94364295E8C/uid/Carsten_Haitzler__raster@archlinux.org_02b5c9a5/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Remove extra forward slash from archlinux-keyring-wkd-sync.service
  Makefile
Due: lint, test, keyring_check

Revoke signature by dvzrv for allan
  keyring/packager/allan/6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD/uid/Allan_McRae__Developer___allan@archlinux.org_7195414b/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
  keyring/packager/allan/6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD/uid/Allan_McRae__Developer___allan@archlinux.org_7195414b/revocation/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Collect failed keys and print them at the end
  wkd_sync/archlinux-keyring-wkd-sync
Due: none

Path conditions:
  lint: any of: keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
  test: any of: keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
  keyring_check: any of: keyring/**/*, keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
