Repository archlinux/archlinux-keyring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, keyring_check

lint:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make flake8 mypy python-black python-isort
  script:
  - make lint

test:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make python sequoia-sq python-coverage python-pytest python-tomli
  script:
  - make test
  coverage: /TOTAL.*\s([.\d]+)%/
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

keyring_check:
  stage: test
  needs: []
  before_script:
  - pacman -Syu --needed --noconfirm make python sequoia-sq git
  script:
  - ./keyringctl check
  - ./keyringctl ci

Remove reference to AUTHORS file
  CONTRIBUTING.md
Due: none

Add signature from diabonas for alerque
  keyring/packager/alerque/CCB34EBBB9541EF3F7B366C1D4A753468A5A5B67/uid/Caleb_Maclennan__alerque@archlinux.org_2cc951f2/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add main signature of anthraxx for dvzrv
  keyring/packager/dvzrv/991F6E3F0765CF6295888586139B09DA5BF0D338/uid/David_Runge__dvzrv@archlinux.org_d2ad250f/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

Add signature from diabonas for anthraxx
  keyring/packager/anthraxx/E240B57E2C4630BA768E2F26FC1B547C8D8172C8/uid/Levente_Polyak__anthraxx@archlinux.org_c0f9fbc4/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from diabonas for maximbaz
  keyring/packager/maximbaz/56C3E775E72B0C8B1C0C1BD0B5DB77409B11B601/uid/Maxim_Baz__maximbaz@archlinux.org_a7b06759/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Make install locations more configurable and clean up
  Makefile
Due: lint, test, keyring_check

Rename WKD sync service file to an input file
  wkd_sync/archlinux-keyring-wkd-sync.service.in
Due: none

Allow overriding the script location in WKD sync service
  Makefile
  wkd_sync/archlinux-keyring-wkd-sync.service.in
Due: lint, test, keyring_check

Add signature from diabonas for foxxx0
  keyring/packager/foxxx0/051EAD6A6155389D69DA02E5EB763B4E9DB887A6/uid/Thore_Bodecker__foxxx0@archlinux.org_64a98c1b/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from diabonas for sangy
  keyring/packager/sangy/903BAB73640EB6D65533EFF3468F122CE8162295/uid/Santiago_Torres-Arias__santiago@archlinux.org_6c66fb1a/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add yan12125's new key
  keyring/packager/yan12125/481C4474AF1572165AE4C6AF3FDDD575826C5C30/uid/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268/certification/481C4474AF1572165AE4C6AF3FDDD575826C5C30.asc
  keyring/packager/yan12125/481C4474AF1572165AE4C6AF3FDDD575826C5C30/uid/Chih-Hsuan_Yen__yan12125@gmail.com_47e50f39/certification/481C4474AF1572165AE4C6AF3FDDD575826C5C30.asc
  keyring/packager/yan12125/481C4474AF1572165AE4C6AF3FDDD575826C5C30/uid/Chih-Hsuan_Yen__yen@chyen.cc_f0a31ce8/revocation/481C4474AF1572165AE4C6AF3FDDD575826C5C30.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/E62545315B012B69C8C94A1D56EC201BFC794362.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/subkey/0D99E43B50C2AD21BADE4632493DE21C824E9541/0D99E43B50C2AD21BADE4632493DE21C824E9541.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/subkey/0D99E43B50C2AD21BADE4632493DE21C824E9541/certification/E62545315B012B69C8C94A1D56EC201BFC794362.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/subkey/0F08A86E1A7CA594391D9C16FDBC76A8E71E7A44/0F08A86E1A7CA594391D9C16FDBC76A8E71E7A44.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/subkey/0F08A86E1A7CA594391D9C16FDBC76A8E71E7A44/certification/E62545315B012B69C8C94A1D56EC201BFC794362.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/subkey/CE438E942B469648E4EF7D187EDB9C094988FBEE/CE438E942B469648E4EF7D187EDB9C094988FBEE.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/subkey/CE438E942B469648E4EF7D187EDB9C094988FBEE/certification/E62545315B012B69C8C94A1D56EC201BFC794362.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/uid/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/uid/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268/certification/481C4474AF1572165AE4C6AF3FDDD575826C5C30.asc
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/uid/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268/certification/E62545315B012B69C8C94A1D56EC201BFC794362.asc
Due: keyring_check

Revoke @tensor5’s key
  keyring/packager/tensor5/A667E8A1B61D07A50FC430DF69DF1F2EB44B05BE/revocation/A667E8A1B61D07A50FC430DF69DF1F2EB44B05BE.asc
Due: keyring_check

Add packager key for new Trusted User serebit
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/CAAE0C97533C35D3A0C6C34066E60E5F785A6824.asc
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/subkey/0378DED177CB63937BBF6344160330BA68978CDE/0378DED177CB63937BBF6344160330BA68978CDE.asc
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/subkey/0378DED177CB63937BBF6344160330BA68978CDE/certification/CAAE0C97533C35D3A0C6C34066E60E5F785A6824.asc
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/uid/Campbell_Jones__for_package_signing_only___serebit@archlinux.org_55f6fd2b/Campbell_Jones__for_package_signing_only___serebit@archlinux.org_55f6fd2b.asc
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/uid/Campbell_Jones__for_package_signing_only___serebit@archlinux.org_55f6fd2b/certification/CAAE0C97533C35D3A0C6C34066E60E5F785A6824.asc
Due: keyring_check

Add signature from diabonas for serebit
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/uid/Campbell_Jones__for_package_signing_only___serebit@archlinux.org_55f6fd2b/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Revoke signature from diabonas for tensor5
  keyring/packager/tensor5/A667E8A1B61D07A50FC430DF69DF1F2EB44B05BE/uid/Nicola_Squartini__tensor5@archlinux.org_42ff807f/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
  keyring/packager/tensor5/A667E8A1B61D07A50FC430DF69DF1F2EB44B05BE/uid/Nicola_Squartini__tensor5@archlinux.org_42ff807f/revocation/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Add signature from diabonas for yan12125
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/uid/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268/certification/75BD80E4D834509F6E740257B1B73B02CC52A02A.asc
Due: keyring_check

Update expiry of kpcyrd key
  keyring/packager/kpcyrd/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6/subkey/33EBB8A8E1C5653645B1232A45A650E2638C536D/certification/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6.asc
  keyring/packager/kpcyrd/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6/subkey/90AD6D5827DFAB13AFC52DFE2A937802ADA28F58/certification/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6.asc
  keyring/packager/kpcyrd/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6/uid/kpcyrd__git@rxv.cc_3b3b43dc/certification/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6.asc
  keyring/packager/kpcyrd/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6/uid/kpcyrd__kpcyrd@archlinux.org_05f09dd3/certification/64B13F7117D6E07D661BBCE0FE763A64F5E54FD6.asc
Due: keyring_check

wkd: add build target to generate wkd in build dir
  Makefile
Due: lint, test, keyring_check

Add main key signature by dvzrv for yan12125
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/uid/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Add main key signature by dvzrv for serebit
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/uid/Campbell_Jones__for_package_signing_only___serebit@archlinux.org_55f6fd2b/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Add signature from anthraxx for serebit
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/uid/Campbell_Jones__for_package_signing_only___serebit@archlinux.org_55f6fd2b/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

Add signature from Bluewind for yan12125
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/uid/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268/certification/91FFE0700E80619CEB73235CA88E23E377514E00.asc
Due: keyring_check

Add signature from anthraxx for yan12125
  keyring/packager/yan12125/E62545315B012B69C8C94A1D56EC201BFC794362/uid/Chih-Hsuan_Yen__yan12125@archlinux.org_fea86268/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

Adapt Makefile to build wkd dir and inspect it
  Makefile
Due: lint, test, keyring_check

Add gitlab-ci integration to build WKD dir on tag
  .gitlab-ci.yml
Due: lint, test, keyring_check

Force symlinking of systemd unit for activation
  Makefile
Due: lint, test, keyring_check

Copy WKD dir to public directly
  .gitlab-ci.yml
Due: lint, test, keyring_check

Rename wkd_build to pages
  .gitlab-ci.yml
Due: lint, test, keyring_check

Add signature from Bluewind for serebit
  keyring/packager/serebit/CAAE0C97533C35D3A0C6C34066E60E5F785A6824/uid/Campbell_Jones__for_package_signing_only___serebit@archlinux.org_55f6fd2b/certification/91FFE0700E80619CEB73235CA88E23E377514E00.asc
Due: keyring_check

Add packager key for new Trusted User blakkheim
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/54C1FD273361EA514A237793F296BDE50368C6CE.asc
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/subkey/9D3523BEC4E215B9E9BFE1E2ACC71DC6C296C818/9D3523BEC4E215B9E9BFE1E2ACC71DC6C296C818.asc
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/subkey/9D3523BEC4E215B9E9BFE1E2ACC71DC6C296C818/certification/54C1FD273361EA514A237793F296BDE50368C6CE.asc
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/uid/T.J._Townsend__blakkheim@archlinux.org_476bd08f/T.J._Townsend__blakkheim@archlinux.org_476bd08f.asc
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/uid/T.J._Townsend__blakkheim@archlinux.org_476bd08f/certification/54C1FD273361EA514A237793F296BDE50368C6CE.asc
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/uid/T.J._Townsend__tj@mrsk.me_cd1bd620/T.J._Townsend__tj@mrsk.me_cd1bd620.asc
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/uid/T.J._Townsend__tj@mrsk.me_cd1bd620/certification/54C1FD273361EA514A237793F296BDE50368C6CE.asc
Due: keyring_check

Add signature of dvzrv for blakkheim
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/uid/T.J._Townsend__blakkheim@archlinux.org_476bd08f/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Hardcode using bash as make's shell
  Makefile
Due: lint, test, keyring_check

Add signature from Bluewind for blakkheim
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/uid/T.J._Townsend__blakkheim@archlinux.org_476bd08f/certification/91FFE0700E80619CEB73235CA88E23E377514E00.asc
Due: keyring_check

increase random delay for wkd sync
  wkd_sync/archlinux-keyring-wkd-sync.timer
Due: none

Add signature from anthraxx for blakkheim
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/subkey/109AA6B8FFB128E7D9F594F784E2A6BB131B41D6/109AA6B8FFB128E7D9F594F784E2A6BB131B41D6.asc
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/subkey/109AA6B8FFB128E7D9F594F784E2A6BB131B41D6/certification/54C1FD273361EA514A237793F296BDE50368C6CE.asc
  keyring/packager/blakkheim/54C1FD273361EA514A237793F296BDE50368C6CE/uid/T.J._Townsend__blakkheim@archlinux.org_476bd08f/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

Add new key for pierre
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/subkey/340A4851793E61A36CE91EAFD6D13C45BFCFBAFD/340A4851793E61A36CE91EAFD6D13C45BFCFBAFD.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/subkey/340A4851793E61A36CE91EAFD6D13C45BFCFBAFD/certification/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/subkey/70B3000A32970956A8D52FCF7F56ADE50CA3D899/70B3000A32970956A8D52FCF7F56ADE50CA3D899.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/subkey/70B3000A32970956A8D52FCF7F56ADE50CA3D899/certification/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/uid/Pierre_Schmitz__pierre@archlinux.de_d9b6be16/Pierre_Schmitz__pierre@archlinux.de_d9b6be16.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/uid/Pierre_Schmitz__pierre@archlinux.de_d9b6be16/certification/0E8B644079F599DFC1DDC3973348882F6AC6A4C2.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/uid/Pierre_Schmitz__pierre@archlinux.de_d9b6be16/certification/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/uid/Pierre_Schmitz__pierre@archlinux.de_d9b6be16/certification/4AA4767BBC9C4B1D18AE28B77F2D434B9741E8AC.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/uid/Pierre_Schmitz__pierre@archlinux.org_e7e0700e/Pierre_Schmitz__pierre@archlinux.org_e7e0700e.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/uid/Pierre_Schmitz__pierre@archlinux.org_e7e0700e/certification/0E8B644079F599DFC1DDC3973348882F6AC6A4C2.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/uid/Pierre_Schmitz__pierre@archlinux.org_e7e0700e/certification/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C.asc
  keyring/packager/pierre/3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C/uid/Pierre_Schmitz__pierre@archlinux.org_e7e0700e/certification/4AA4767BBC9C4B1D18AE28B77F2D434B9741E8AC.asc
Due: keyring_check

update expiry of freswa's key
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/subkey/1AF241462FA1944F05FEFEFEF032EA50730A5E7F/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/subkey/451F0C0CDAA80C35A3A5C45ADBABA4F12C80653C/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__f.schwan@betterbits.de_9966f6ca/revocation/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__f.schwan@heinlein-support.de_ff8996ee/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__f.schwan@heinlein-support.de_ff8996ee/revocation/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__f.schwan@opentalk.eu_307f5685/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__f.schwan@opentalk.eu_307f5685/revocation/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__frederik.schwan@linux.com_f2bdddbd/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__frederik.schwan@mailbox.org_a316f40f/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__frederik.schwan@mide-online.de_0609a766/revocation/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__frederik.schwan@stud.tu-darmstadt.de_396e6ff4/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__frederik.schwan@stud.tu-darmstadt.de_396e6ff4/revocation/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__frederik@schw4n.de_514b14f6/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__frederik@schwan.it_b196c40b/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__frederik@tty42.de_329de976/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
  keyring/packager/freswa/05C7775A9E8B977407FE08E69D4C5AA15426DA0A/uid/Frederik_Schwan__freswa@archlinux.org_82d9b761/certification/05C7775A9E8B977407FE08E69D4C5AA15426DA0A.asc
Due: keyring_check

Add new main key of demize
  keyring/main/demize/69E6471E3AE065297529832E6BA0F5A2037F4F41/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
  keyring/main/demize/69E6471E3AE065297529832E6BA0F5A2037F4F41/subkey/426F348DFDFAF53990842655245AD2AFEA34E84D/426F348DFDFAF53990842655245AD2AFEA34E84D.asc
  keyring/main/demize/69E6471E3AE065297529832E6BA0F5A2037F4F41/subkey/426F348DFDFAF53990842655245AD2AFEA34E84D/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
  keyring/main/demize/69E6471E3AE065297529832E6BA0F5A2037F4F41/uid/Johannes_Lothberg__Arch_Linux_Master_Key___demize@master-key.archlinux.org_65f24658/Johannes_Lothberg__Arch_Linux_Master_Key___demize@master-key.archlinux.org_65f24658.asc
  keyring/main/demize/69E6471E3AE065297529832E6BA0F5A2037F4F41/uid/Johannes_Lothberg__Arch_Linux_Master_Key___demize@master-key.archlinux.org_65f24658/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

try all keys, fail at the end for wkd sync
  wkd_sync/archlinux-keyring-wkd-sync
Due: none

Update expiry of rgacogne's key
  keyring/packager/rgacogne/A4CBEA7974898599195E4FEC46EC46F39F3E2EF1/subkey/2DD93C0BB85798643997DCA8D98497EA63574E9B/certification/A4CBEA7974898599195E4FEC46EC46F39F3E2EF1.asc
  keyring/packager/rgacogne/A4CBEA7974898599195E4FEC46EC46F39F3E2EF1/subkey/99D95E29368C8F6641DC17A70382992C7250AE49/certification/A4CBEA7974898599195E4FEC46EC46F39F3E2EF1.asc
  keyring/packager/rgacogne/A4CBEA7974898599195E4FEC46EC46F39F3E2EF1/uid/Remi_Gacogne__rgacogne@archlinux.org_56f61a3b/certification/A4CBEA7974898599195E4FEC46EC46F39F3E2EF1.asc
Due: keyring_check

Path conditions:
  lint: any of: keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
  test: any of: keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
  keyring_check: any of: keyring/**/*, keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
